@font-face {
  font-family: 'Wigrum';
  src: url('/assets/wigrum/wigrum-black-webfont.woff2') format('woff2'),
    url('/assets/wigrum/wigrum-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Wigrum';
  src: url('/assets/wigrum/wigrum-blackitalic-webfont.woff2') format('woff2'),
    url('/assets/wigrum/wigrum-blackitalic-webfont.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Wigrum';
  src: url('/assets/wigrum/wigrum-bold-webfont.woff2') format('woff2'),
    url('/assets/wigrum/wigrum-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Wigrum';
  src: url('/assets/wigrum/wigrum-bolditalic-webfont.woff2') format('woff2'),
    url('/assets/wigrum/wigrum-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Wigrum';
  src: url('/assets/wigrum/wigrum-italic-webfont.woff2') format('woff2'),
    url('/assets/wigrum/wigrum-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Wigrum';
  src: url('/assets/wigrum/wigrum-light-webfont.woff2') format('woff2'),
    url('/assets/wigrum/wigrum-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Wigrum';
  src: url('/assets/wigrum/wigrum-lightitalic-webfont.woff2') format('woff2'),
    url('/assets/wigrum/wigrum-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Wigrum';
  src: url('/assets/wigrum/wigrum-medium-webfont.woff2') format('woff2'),
    url('/assets/wigrum/wigrum-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Wigrum';
  src: url('/assets/wigrum/wigrum-mediumitalic-webfont.woff2') format('woff2'),
    url('/assets/wigrum/wigrum-mediumitalic-webfont.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Wigrum';
  src: url('/assets/wigrum/wigrum-regular-webfont.woff2') format('woff2'),
    url('/assets/wigrum/wigrum-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
