$lg: 1024px;
$xl: 1280px;

.highlight {
  color: var(--color-primary);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  grid-area: head;
}

.video {
  grid-area: video;
  display: flex;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
