$lg: 1024px;
$xl: 1280px;

.highlight {
  color: var(--color-primary);
}

.content {
  --spacing: 32px;

  > :first-child {
    position: relative;
    padding: var(--spacing);
    max-width: 80ch;
    justify-self: center;
  }

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: 100vh;

    --spacing: 64px;
  }
}

.contact {
  position: absolute;
  top: 0;
  right: var(--spacing);
}

.header {
  grid-area: head;
}

.video {
  grid-area: video;
  display: flex;
  align-items: center;
}

.picture {
  height: 100%;
  object-fit: cover;
}
